node-red-contrib-wp2aem-sample/flow-single-page-sample.json
[
    {
        "id": "71ef7afb.1884e4",
        "type": "tab",
        "label": "Single Page Sample",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9ee2b6c.231348",
        "type": "file in",
        "z": "71ef7afb.1884e4",
        "name": "read template",
        "filename": "ui.content/src/main/content/jcr_root/conf/wp2aem/settings/wcm/templates/page-content/initial/.content.xml",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "35ef2d2d.619922"
            ]
        ]
    },
    {
        "id": "7a4a93a5.1ce16c",
        "type": "debug",
        "z": "71ef7afb.1884e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "35ef2d2d.619922",
        "type": "xml",
        "z": "71ef7afb.1884e4",
        "name": "xml to json",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "f4ad31d5.d19e1"
            ]
        ]
    },
    {
        "id": "d64efb34.0075c8",
        "type": "file",
        "z": "71ef7afb.1884e4",
        "name": ".content.xml",
        "filename": "ui.content/src/main/content/jcr_root/content/wp2aem/us/en/migration-sample/.content.xml",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "7a4a93a5.1ce16c"
            ]
        ]
    },
    {
        "id": "c800e057.7a8e7",
        "type": "xml",
        "z": "71ef7afb.1884e4",
        "name": "json-to-xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 690,
        "y": 200,
        "wires": [
            [
                "d64efb34.0075c8"
            ]
        ]
    },
    {
        "id": "f4ad31d5.d19e1",
        "type": "function",
        "z": "71ef7afb.1884e4",
        "name": "enrich template",
        "func": "//msg.payload['jcr:root']['$']['jcr:primaryType'] = 'cq:Page'\n//msg.payload['jcr:root']['jcr:content'][0]['root'][0] = msg.components\n//delete msg.payload['jcr:root']['$']['allowedPaths']\n\nconsole.log(msg.components.length)\nfor (let i = 0; i < msg.components.length; i++) {\n  let nodeName = 'component_' + (i + 1)\n  msg.payload['jcr:root']['jcr:content'][0]['root'][0]['container'][0]['container'][0][nodeName] = {}\n  msg.payload['jcr:root']['jcr:content'][0]['root'][0]['container'][0]['container'][0][nodeName]['$'] = msg.components[i]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 200,
        "wires": [
            [
                "c800e057.7a8e7"
            ]
        ]
    },
    {
        "id": "f8d7f188.fba4d",
        "type": "inject",
        "z": "71ef7afb.1884e4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "15a97434.91bb5c"
            ]
        ]
    },
    {
        "id": "15a97434.91bb5c",
        "type": "http request",
        "z": "71ef7afb.1884e4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://yoursitegoeshere/wp-json/wp/v2/posts/7349",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "c391dc.7a021e28"
            ]
        ]
    },
    {
        "id": "c391dc.7a021e28",
        "type": "json",
        "z": "71ef7afb.1884e4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "4eb19ab8.683a34"
            ]
        ]
    },
    {
        "id": "4eb19ab8.683a34",
        "type": "FirstNode",
        "z": "71ef7afb.1884e4",
        "name": "",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "90f419bd.7b77d8"
            ]
        ]
    },
    {
        "id": "90f419bd.7b77d8",
        "type": "change",
        "z": "71ef7afb.1884e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "components",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 120,
        "wires": [
            [
                "d9ee2b6c.231348"
            ]
        ]
    }
]