node-red-contrib-wp2aem-sample/flow-fetch-all-and-write-to-disk.json
[
    {
        "id": "4a7ce238.d8e8bc",
        "type": "tab",
        "label": "Fetch All and Write to Disk",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b018fa1.86fbf08",
        "type": "inject",
        "z": "4a7ce238.d8e8bc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "b973f9f0.63f5a8"
            ]
        ]
    },
    {
        "id": "b973f9f0.63f5a8",
        "type": "http request",
        "z": "4a7ce238.d8e8bc",
        "name": "Fetch Post",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://yoursitegoeshere/wp-json/wp/v2/posts",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "7d344b9f.0f9564"
            ]
        ]
    },
    {
        "id": "7d344b9f.0f9564",
        "type": "function",
        "z": "4a7ce238.d8e8bc",
        "name": "Get Paginated Post URLs",
        "func": "let paginatedUrls = []\n// push the first page manually\npaginatedUrls.push(`${msg.responseUrl}`)\npaginatedUrls.push(msg.responseUrl)\nfor (let i = 2; i <= msg.headers['x-wp-totalpages']; i++) {   \n//for (let i = 2; i <= 2; i++) {   \n  let paginationUrl = `${msg.responseUrl}?page=${i}`     \n  paginatedUrls.push(paginationUrl)\n  console.log(paginationUrl)\n}\nmsg.payload = paginatedUrls\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "27c51c9d.053774"
            ]
        ]
    },
    {
        "id": "14e71da2.2cb4c2",
        "type": "http request",
        "z": "4a7ce238.d8e8bc",
        "name": "Request paginated results",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 860,
        "y": 160,
        "wires": [
            [
                "9f2ff2f9.e54ca"
            ]
        ]
    },
    {
        "id": "27c51c9d.053774",
        "type": "split",
        "z": "4a7ce238.d8e8bc",
        "name": "Split on paginated URLs",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "c428a1ee.5149f"
            ]
        ]
    },
    {
        "id": "c428a1ee.5149f",
        "type": "change",
        "z": "4a7ce238.d8e8bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "14e71da2.2cb4c2"
            ]
        ]
    },
    {
        "id": "9f2ff2f9.e54ca",
        "type": "json",
        "z": "4a7ce238.d8e8bc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "d232eb12.98f858"
            ]
        ]
    },
    {
        "id": "d232eb12.98f858",
        "type": "function",
        "z": "4a7ce238.d8e8bc",
        "name": "Get post URLs for page",
        "func": "let postUrls = []\nfor (let i = 0; i < msg.payload.length; i++) {   \n  let postUrl = msg.payload[i]._links.self[0].href     \n  postUrls.push(postUrl)\n  console.log(`==> ${postUrl}`)\n}\nmsg.payload = postUrls\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "9da29da1.e1a34"
            ]
        ]
    },
    {
        "id": "9da29da1.e1a34",
        "type": "split",
        "z": "4a7ce238.d8e8bc",
        "name": "Split on paginated URLs",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "19a7a2ad.56403d"
            ]
        ]
    },
    {
        "id": "19a7a2ad.56403d",
        "type": "change",
        "z": "4a7ce238.d8e8bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "43cc9f92.9978a"
            ]
        ]
    },
    {
        "id": "9285da2d.6ec868",
        "type": "json",
        "z": "4a7ce238.d8e8bc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1250,
        "y": 260,
        "wires": [
            [
                "477d1643.933908"
            ]
        ]
    },
    {
        "id": "43cc9f92.9978a",
        "type": "http request",
        "z": "4a7ce238.d8e8bc",
        "name": "Request next post page",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 850,
        "y": 260,
        "wires": [
            [
                "fcbfa1b7.274fe"
            ]
        ]
    },
    {
        "id": "7bd87955.a6d038",
        "type": "file in",
        "z": "4a7ce238.d8e8bc",
        "name": "read template",
        "filename": "ui.content/src/main/content/jcr_root/conf/wp2aem/settings/wcm/templates/page-content/initial/.content.xml",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "6bd2294f.f0aff8"
            ]
        ]
    },
    {
        "id": "b7a4771f.a97718",
        "type": "debug",
        "z": "4a7ce238.d8e8bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "6bd2294f.f0aff8",
        "type": "xml",
        "z": "4a7ce238.d8e8bc",
        "name": "xml to json",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "f7462334.631ab"
            ]
        ]
    },
    {
        "id": "26a5e5f6.81051a",
        "type": "file",
        "z": "4a7ce238.d8e8bc",
        "name": ".content.xml",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "b7a4771f.a97718"
            ]
        ]
    },
    {
        "id": "4bcec00e.26854",
        "type": "xml",
        "z": "4a7ce238.d8e8bc",
        "name": "json-to-xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 670,
        "y": 420,
        "wires": [
            [
                "7d4928a1.150178"
            ]
        ]
    },
    {
        "id": "f7462334.631ab",
        "type": "function",
        "z": "4a7ce238.d8e8bc",
        "name": "enrich template",
        "func": "// Inject jcr:content properties\nmsg.payload['jcr:root']['jcr:content'][0]['$']['jcr:title'] = msg.page.jcr_title\nmsg.payload['jcr:root']['jcr:content'][0]['$']['jcr:description'] = msg.page.jcr_description\nmsg.payload['jcr:root']['jcr:content'][0]['$']['sling:vanityPath'] = msg.page.sling_vanityPath\n\n    \n// Inject components\nconsole.log(msg.components.length)\nfor (let i = 0; i < msg.components.length; i++) {\n  let nodeName = 'component_' + (i + 1)\n  msg.payload['jcr:root']['jcr:content'][0]['root'][0]['container'][0]['container'][0][nodeName] = {}\n  msg.payload['jcr:root']['jcr:content'][0]['root'][0]['container'][0]['container'][0][nodeName]['$'] = msg.components[i]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "4bcec00e.26854"
            ]
        ]
    },
    {
        "id": "c6d7362.bf2ecc8",
        "type": "FirstNode",
        "z": "4a7ce238.d8e8bc",
        "name": "",
        "x": 800,
        "y": 340,
        "wires": [
            [
                "6a7d0d23.41c4b4"
            ]
        ]
    },
    {
        "id": "6a7d0d23.41c4b4",
        "type": "change",
        "z": "4a7ce238.d8e8bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "components",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 340,
        "wires": [
            [
                "7bd87955.a6d038"
            ]
        ]
    },
    {
        "id": "477d1643.933908",
        "type": "function",
        "z": "4a7ce238.d8e8bc",
        "name": "Define .content.xml filename and path",
        "func": "// TODO: Extract into configuration\nlet dateParts = msg.payload.date.match(/(\\d{4})-(\\d{2})-(\\d{2}).*/);\nlet datePath = `${dateParts[1]}/${dateParts[2]}/${dateParts[3]}`\n\nmsg.contentXmlPath = `ui.content/src/main/content/jcr_root/content/wp2aem/us/en/posts/${datePath}/${msg.payload.slug}/.content.xml`\nconsole.log(msg.contentXmlPath)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "83ccc174.6df86"
            ]
        ]
    },
    {
        "id": "7d4928a1.150178",
        "type": "change",
        "z": "4a7ce238.d8e8bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "contentXmlPath",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "26a5e5f6.81051a"
            ]
        ]
    },
    {
        "id": "83ccc174.6df86",
        "type": "function",
        "z": "4a7ce238.d8e8bc",
        "name": "Page Properties Mapper",
        "func": "// TODO: Strip HTML from jcr_description\nmsg.page = {\n    jcr_title: msg.payload.title.rendered,\n    jcr_description: msg.payload.excerpt.rendered,\n    sling_vanityPath: msg.payload.slug\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "c6d7362.bf2ecc8"
            ]
        ]
    },
    {
        "id": "fcbfa1b7.274fe",
        "type": "delay",
        "z": "4a7ce238.d8e8bc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1080,
        "y": 260,
        "wires": [
            [
                "9285da2d.6ec868"
            ]
        ]
    }
]