node-red-contrib-wp2aem-sample/flow-single-page-sample.json
[
    {
        "id": "d59a7e9b.57d27",
        "type": "tab",
        "label": "Single Page Sample",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a69d00d2.e1a5d",
        "type": "file in",
        "z": "d59a7e9b.57d27",
        "name": "read template",
        "filename": "/Users/gaston/headwire3/conferences/adobe-summit-2020/workspace/wp2aem/ui.content/src/main/content/jcr_root/conf/wp2aem/settings/wcm/templates/page-content/initial/.content.xml",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "361119c4.27e486"
            ]
        ]
    },
    {
        "id": "71228804.da7d38",
        "type": "debug",
        "z": "d59a7e9b.57d27",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "361119c4.27e486",
        "type": "xml",
        "z": "d59a7e9b.57d27",
        "name": "xml to json",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "8c6abc1.4996c4"
            ]
        ]
    },
    {
        "id": "325f089.295fbf8",
        "type": "file",
        "z": "d59a7e9b.57d27",
        "name": ".content.xml",
        "filename": "/Users/gaston//headwire3/conferences/adobe-summit-2020/workspace/wp2aem/ui.content/src/main/content/jcr_root/content/wp2aem/us/en/migration-sample/.content.xml",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "71228804.da7d38"
            ]
        ]
    },
    {
        "id": "ebca01be.121ad",
        "type": "xml",
        "z": "d59a7e9b.57d27",
        "name": "json-to-xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 690,
        "y": 200,
        "wires": [
            [
                "325f089.295fbf8"
            ]
        ]
    },
    {
        "id": "8c6abc1.4996c4",
        "type": "function",
        "z": "d59a7e9b.57d27",
        "name": "enrich template",
        "func": "//msg.payload['jcr:root']['$']['jcr:primaryType'] = 'cq:Page'\n//msg.payload['jcr:root']['jcr:content'][0]['root'][0] = msg.components\n//delete msg.payload['jcr:root']['$']['allowedPaths']\n\nconsole.log(msg.components.length)\nfor (let i = 0; i < msg.components.length; i++) {\n  let nodeName = 'component_' + (i + 1)\n  msg.payload['jcr:root']['jcr:content'][0]['root'][0]['container'][0]['container'][0][nodeName] = {}\n  msg.payload['jcr:root']['jcr:content'][0]['root'][0]['container'][0]['container'][0][nodeName]['$'] = msg.components[i]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 200,
        "wires": [
            [
                "ebca01be.121ad"
            ]
        ]
    },
    {
        "id": "f7ca6c29.95a53",
        "type": "inject",
        "z": "d59a7e9b.57d27",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "eefa7823.fe8668"
            ]
        ]
    },
    {
        "id": "eefa7823.fe8668",
        "type": "http request",
        "z": "d59a7e9b.57d27",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://unit42.paloaltonetworks.com/wp-json/wp/v2/posts/104851",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "25520a79.9ed396"
            ]
        ]
    },
    {
        "id": "25520a79.9ed396",
        "type": "json",
        "z": "d59a7e9b.57d27",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "3186a5f5.2bde3a"
            ]
        ]
    },
    {
        "id": "3186a5f5.2bde3a",
        "type": "FirstNode",
        "z": "d59a7e9b.57d27",
        "name": "",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "ba192b5d.e10438"
            ]
        ]
    },
    {
        "id": "ba192b5d.e10438",
        "type": "change",
        "z": "d59a7e9b.57d27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "components",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 120,
        "wires": [
            [
                "a69d00d2.e1a5d"
            ]
        ]
    }
]