node-red-contrib-wp2aem-sample/flow-fetch-all-posts.json
[
    {
        "id": "3994953e.1788ca",
        "type": "tab",
        "label": "Fetch All Pages",
        "disabled": false,
        "info": ""
    },
    {
        "id": "afe8f94d.95a768",
        "type": "inject",
        "z": "3994953e.1788ca",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "3856cb24.34e644"
            ]
        ]
    },
    {
        "id": "3856cb24.34e644",
        "type": "http request",
        "z": "3994953e.1788ca",
        "name": "Fetch Post",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://unit42.paloaltonetworks.com/wp-json/wp/v2/posts",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "7203bc1e.119e14"
            ]
        ]
    },
    {
        "id": "7203bc1e.119e14",
        "type": "function",
        "z": "3994953e.1788ca",
        "name": "Get Paginated Post URLs",
        "func": "let paginatedUrls = []\n//for (let i = 2; i <= msg.headers['x-wp-totalpages']; i++) {   \nfor (let i = 2; i <= 2; i++) {   \n  let paginationUrl = `${msg.responseUrl}?page=${i}`     \n  paginatedUrls.push(paginationUrl)\n  console.log(paginationUrl)\n}\nmsg.payload = paginatedUrls\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "3db7b45f.7fcf4c"
            ]
        ]
    },
    {
        "id": "60eac2ad.9b0dbc",
        "type": "http request",
        "z": "3994953e.1788ca",
        "name": "Request paginated results",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 880,
        "y": 200,
        "wires": [
            [
                "dacc44b9.062528"
            ]
        ]
    },
    {
        "id": "3db7b45f.7fcf4c",
        "type": "split",
        "z": "3994953e.1788ca",
        "name": "Split on paginated URLs",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "a03945fb.280208"
            ]
        ]
    },
    {
        "id": "a03945fb.280208",
        "type": "change",
        "z": "3994953e.1788ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "60eac2ad.9b0dbc"
            ]
        ]
    },
    {
        "id": "dacc44b9.062528",
        "type": "json",
        "z": "3994953e.1788ca",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1070,
        "y": 200,
        "wires": [
            [
                "2152962e.e6830a"
            ]
        ]
    },
    {
        "id": "2152962e.e6830a",
        "type": "function",
        "z": "3994953e.1788ca",
        "name": "Get post URLs for page",
        "func": "let postUrls = []\nfor (let i = 0; i < msg.payload.length; i++) {   \n  let postUrl = msg.payload[i]._links.self[0].href     \n  postUrls.push(postUrl)\n  console.log(`==> ${postUrl}`)\n}\nmsg.payload = postUrls\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "fc03c17a.b6642"
            ]
        ]
    },
    {
        "id": "fc03c17a.b6642",
        "type": "split",
        "z": "3994953e.1788ca",
        "name": "Split on paginated URLs",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 430,
        "y": 340,
        "wires": [
            [
                "67208171.977c3"
            ]
        ]
    },
    {
        "id": "67208171.977c3",
        "type": "change",
        "z": "3994953e.1788ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "19dbf93a.fc1607"
            ]
        ]
    },
    {
        "id": "ae6ed7a6.8fc118",
        "type": "json",
        "z": "3994953e.1788ca",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1090,
        "y": 340,
        "wires": [
            [
                "c5ea8435.b51d48"
            ]
        ]
    },
    {
        "id": "19dbf93a.fc1607",
        "type": "http request",
        "z": "3994953e.1788ca",
        "name": "Request next post page",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 870,
        "y": 340,
        "wires": [
            [
                "ae6ed7a6.8fc118"
            ]
        ]
    },
    {
        "id": "c5ea8435.b51d48",
        "type": "debug",
        "z": "3994953e.1788ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 980,
        "y": 440,
        "wires": []
    }
]